@page "/logout"
@inject NavigationManager navigationManager

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center mt-2">
                    <span class="text-danger fw-bolder">Has cerrado sesión exitosamente.</span>
                </div>
                <div class="text-center mt-2">
                    <a href="/" class="btn btn-primary">Ir al inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    [CascadingParameter]
    public HttpContext HttpContext{get;set;}

    protected override async Task OnInitializedAsync(){
        if(HttpContext.User.Identity.IsAuthenticated){
            await HttpContext.SignOutAsync();
            navigationManager.NavigateTo("/logout",true);
        }
    }
}