@page "/logout"
@inject NavigationManager navegador
@inject IServicioSession sesion

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center mt-2">
                    <span class="text-danger fw-bolder">Has cerrado sesión exitosamente.</span>
                </div>
                <div class="text-center mt-2">
                    <a href="/" class="btn btn-primary">Ir al inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code{

    protected override void OnInitialized(){

        sesion.SetUser(null);  // Limpiar la sesión al cerrar sesión
        InvokeAsync(() => navegador.NavigateTo("/login"));

    }
}