@page "/"
@rendermode InteractiveServer
@inject ObtenerUserAccountUseCase getUsuario
@inject IServicioSession sesion
@inject IServicioEvento servicioEvento
@inject NavigationManager Navegador


<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="fw-bold">Bienvenido al Sistema de Gestión de Expedientes</h2>
        </div>
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-body">
                        @if (!logueado)
                        {
                            <p>No has iniciado sesión.</p>
                            <a href="/login" class="btn btn-primary">Iniciar sesión</a>
                        }
                        @if (logueado)
                        {
                            <p>Sesión iniciada como <b>@user.UserName</b></p>
                            <p>Tu rol es: <b>@user.Role</b></p>
                            <button class="btn btn-primary" @onclick="VerPerfil">Ver Perfil</button>
                        }
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    UserAccount ?user;
    private bool logueado = false;
    protected override void OnInitialized()
    {

        user = sesion.User;
        if(user is not null) logueado = true;
        servicioEvento.Notificar();
        
    }

    private void VerPerfil()
    {
        Navegador.NavigateTo($"/userprofile/{user.Id}");
    }
}
