@page "/expediente/{Id:int?}"
@using SGE.Aplicacion
@rendermode InteractiveServer
@inject CasoDeUsoExpedienteAlta altaExpediente
@inject CasoDeUsoExpedienteConsultaPorId consultaExpediente
@inject CasoDeUsoExpedienteModificacion modificacionExpediente
@inject NavigationManager Navegador
@inject IServicioSesion sesion

@if (_esNuevoExpediente){


    <h3>Agregar Expediente</h3>

    @* Formulario para agregar Expediente *@
    <form>
        <div class="form-group">
            <label for="valorAsegurado">Caratula:</label>
            <input type="text" class="form-control" id="caratula" @bind="_expediente.caratula" required>
        </div>

        @* Campo para seleccionar el estado del expediente *@
        <div class="form-group">
            <label for="estado">Estado del Expediente:</label>
            <select id="estado" class="form-control" @bind="_expediente.estado">
                @foreach (var estado in estados)
                {
                    <option value="@estado">@estado</option>
                }
            </select>
        </div>

        <button class="btn btn-primary" @onclick="CrearExpediente">Agregar Expediente</button>


    </form>

    @* Componente para mostrar errores *@
    @* <Excepcion @ref=dialogo /> *@


}
else{

    //aquí codigo para modificación del expediente
}


@code {
    
    Expediente _expediente = new Expediente();
    [Parameter] public int? Id {get;set;}
    bool _esNuevoExpediente = true;

    //lista de estados para seleccionar
    private List<Estado> estados = Enum.GetValues(typeof(Estado)).Cast<Estado>().ToList();
    
    protected override void OnParametersSet()
    {
        if (Id != null)
        {
            int id = Id.HasValue ? Id.Value : -1; // los Id son a partir del 1
            var exp_hallado = consultaExpediente.Ejecutar(id);
            if (exp_hallado != null)
            {
                _expediente = exp_hallado;
                _esNuevoExpediente = false;
            }
        }
    }

    void CrearExpediente()
    {
        try
        {
            altaExpediente.Ejecutar(_expediente, sesion.GetUserId(), TipoPermiso.ExpedienteAlta);
            Siguiente();
        }
        catch (Exception e)
        {
            @* dialogo.Mostrar(e.Message); *@
        }

    }
    void Siguiente()
    {
        Navegador.NavigateTo("/");
    }
}    
