@inherits LayoutComponentBase
@inject IServicioSession sesion
@inject IServicioEvento servicioEvento
@inject ObtenerUserAccountUseCase getUsuario


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (!logueado){
                    <a href="/login">Iniciar Sesión</a>
                    <a href="/register">Registrarse</a>
            }
            @if (logueado){<a href="/userprofile_update/@user.Id">Actualizar perfil</a>}
            @if (admin)
                {
                    <a href="/administracion">Administración</a>
                }
            @if(logueado) {<a href="/logout">Cerrar Sesión</a>}

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    UserAccount ?user;
    private bool logueado = false;
    private bool admin = false;
    protected override void OnInitialized()
    {
        user = sesion.User;
        if(user is not null) {
            logueado = true;
            if(user.Role == "Administrador") admin = true;
        }

        servicioEvento.OnChange += HandleChange;
        HandleChange();
    }

    private void HandleChange()
    {
        user = sesion.User;
        if(user is not null) {
            logueado = true;
            if(user.Role == "Administrador") admin = true;   
        }else{
            logueado = false;
            admin = false;
        } 
        StateHasChanged(); 
    }

}