@inject IServicioSession sesion
@inject IServicioEvento servicioEvento
@inject ObtenerUserAccountUseCase getUsuario

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SGE</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @if(logueado){

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="listadoexpedientes">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Expedientes
                </NavLink>
            </div>
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="listadotramites">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tramites
                </NavLink>
            </div>
        }


    </nav>
</div>


@code {
    UserAccount ?user;
    private bool logueado = false;
    protected override void OnInitialized()
    {
        user = sesion.User;
        if(user is not null) {
            logueado = true;
        }

        servicioEvento.OnChange += HandleChange;
        HandleChange();
    }

    private void HandleChange()
    {
        user = sesion.User;
        if(user is not null) {
            logueado = true;
        }
        StateHasChanged(); 
    }

}